.green_txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #00CA90;
    margin-top: 150px; //delete
}

.green_txt:hover {
    color: #00CA90;
}